.topbar{
    height: 60px;
    background: #fff;
    border-bottom: 1px solid #aaa;
    display: flex;
    justify-content: space-between;
    padding: 0 28px;
    position: sticky;
    top: 0;
    z-index: 50;
}

.topbar_left{
    display: flex;
    align-items: center;
    gap: 12px;
}

.page_title{
    font-size: 1.1rem;
    font-weight: 700;
    color: red;
}

.topbar_right{
    display: flex;
    align-items: center;
    gap: 10px;
}


.topbar_avatar {
    width: 32px; height: 32px;
    background: linear-gradient(135deg, #4F46E5, #7C3AED);
    border-radius: 50%;
    display: flex; align-items: center; justify-content: center;
    color: white;
    font-size: .8rem;
    font-weight: 700;
}

